/* sideBar.css */

.sidebar {
  background-color: beige !important;
  height: 100vh !important;
}

.sidebar {
  width: 220px;
  background-color: #ffffff;
}

.list-group a:hover {
  background-color: rgb(103, 227, 249);
  color: white;
  cursor: pointer;
}

.list-group-item.no-underline {
  text-decoration: none;
}
.vertical-line {
  border-right: 2px solid #000;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
